apiVersion: v1
kind: Pod
metadata:
  name: nginx
  labels:
    department: engineering
    app: nginx
spec:
  containers:
  - name: nginx
    image: $REGION-docker.pkg.dev/$PROJECT_ID/$REPO_NAME/nginx:123
    imagePullPolicy: Always
    ports:
    - containerPort: 80
